/******** Generics ********/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/****** Content ******/

body {

    font-family: 'PT Sans', sans-serif;;
}

.flex {
    display: flex;
}


header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
}

.container-header {
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   width: 100%;
}

.icon-menu {
    color: white;
}

.container {
    width: 100%;
    padding: 0px 30px;
}

section:nth-of-type(even){
    background-color:#9792e4;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    padding-top: 80px;
}

.first-section {
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

.card {
border-radius: 25px;
text-align:center;
background-color:#b5ddff;
display: flex;
flex-direction: column;
padding:40px;
}

h3 {
    color:#0084fd;
    padding-bottom: 30px;
}

img {
    width: 100%;
}

.first-section #paragrafo1 {
    text-align: left;
    padding-bottom: 20px;
    line-height: 35px;
}

strong {
    color: #63798c;
}

#button1 {
    border-radius: 25px;
    width: 200px;
    height: 40px;
    background-color: #0084fd;
    color: white;
}

.card .img1 {
    padding-top: 50px;
    margin-bottom: -40px;
}

.card .fa-solid {
    font-size: 120px;
    padding: 40px;
    color:#0084fd ;
}

.card strong {
    padding-bottom: 30px;
    line-height: 30px;
}

.planning1 {
    padding-bottom: 50px;
}

.planning1 img {
    padding:70px 20px
}

.container h2 {
    font-size: 30px;
    color: white;
    padding-top: 20px;
}

.planning1 strong {
    color: white;
    line-height: 30px;

}

.planning2 {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.planning2 h2 {
    color: black;
}

span {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    padding: 30px;
    font-style: italic;
}

.icon-arrow .fa-solid {
    background-color:#9792e4 ;
    border-radius: 50%;
    padding: 25px;
}

.sec2 {
    padding-bottom: 70px;
}



