/******** Generics ********/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/****** Content ******/

body {

    font-family: 'PT Sans', sans-serif;;
}

.flex {
    display: flex;
}


header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
}

.container-header {
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   width: 100%;
}

.icon-menu {
    color: white;
}

.container {
    width: 100%;
    padding: 0 20px;
}